include head
include header
include header-home
include main-home
include footer

mixin nav-and-logo(page)
  .row
    .header__upper-box
      .header__logo-box
        if page == 'home'
          a(href="#"): +svg('logo')
        else
          a(href="index.html"): +svg('logo')
      +nav(page)
            
mixin nav(page)
  nav.nav
    ul.nav__list
      if page == 'home'
        li.nav__item: a(href="#").nav__link Home
        li.nav__item: a(href="#projects").nav__link.scroll-on-page-link Projects
      else
        li.nav__item: a(href="index.html").nav__link Home
        li.nav__item: a(href="index.html#projects").nav__link Projects
      if page == 'my-story'
        li.nav__item: a(href="#").nav__link My story
      else
        li.nav__item: a(href="my-story.html").nav__link My story
      li.nav__item: a(href="#contact").btn.scroll-on-page-link get in touch
      
//- insert svg icons into html
mixin svg(name)

  case name
    when 'facebook'
      include ../img/svg/facebook-icon.svg
    
    when 'twitter'
      include ../img/svg/twitter-icon.svg
    
    when 'instagram'
      include ../img/svg/instagram-icon.svg
      
    when 'linkedin'
      include ../img/svg/linkedin-icon.svg
      
    when 'logo'
      include ../img/svg/logo.svg

    default
      p don't find this icon

mixin project-details(title, challenge, solution, date, src_desktop, alt_desktop, src_mobile, alt_mobile, development)
  .project-details
    if development
      .title-and-btn-box
        .jumbo= title
        a(href=''+ development+'', target="_blank").btn.visit-the-site visit the site
    else
      .title-and-btn-box
        .jumbo= title
        a(href="img/" + src_desktop +"", target="_blank").btn View the design

    .info-box
      .info-box__challenge
        h4.h4 Challenge
        p.p= challenge
        
      .info-box__solution
        h4.h4 Solution
        p.p= solution
      
      .info-box__role-and-date
        .info-box__role
          .label--bold Role:
          if development
            .info-box__role-result
              .label Web interface designer
              .label Web interface developer
          else
            .label Web interface designer
        .info-box__date
          .label--bold Date:
          .label= date

    .devices      
      .devices__laptop
        img(src="img/laptop-2.png", alt="").devices__laptop-img
        .devices__laptop-screen(class=''+ title +'')
          img(src="img/"+ src_desktop +"", alt="" + alt_desktop + "").devices__laptop-website
        .devices__scrollable.js-scrollable-laptop
          img(src="img/scrollable-icon.png", alt="").devices__scrollable-icon
          .p--white Scrolllable
      if development
        .devices__phone
          img(src="img/phone-2.png", alt="").devices__phone-img
          .devices__phone-screen(class=''+ title +'')
            img(src="img/"+ src_mobile +"", alt="" + alt_mobile + "").devices__phone-website
          .devices__scrollable.js-scrollable-phone
            img(src="img/scrollable-icon.png", alt="").devices__scrollable-icon
            .p--white Scrolllable
